body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: antiquewhite;
}

.stopwatch {
    text-align: center;
    background-color: bisque;
    width: 50%;
}

.display {
    font-size: 2em;
    margin-bottom: 10px;
}

button {
    font-size: 1em;
    margin: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}
